<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="trabalho_pooa_reuniaoPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>com.reuniao.command.controller.Sala</class>
    <class>com.reuniao.command.controller.Funcionario</class>
    <class>com.reuniao.command.controller.Equipamento</class>
    <class>com.reuniao.command.controller.Reserva</class>
    <class>com.reuniao.command.controller.Participante</class>
    <class>com.reuniao.model.Equipamento</class>
    <class>com.reuniao.model.Sala</class>
    <class>com.reuniao.model.Funcionario</class>
    <class>com.reuniao.model.Reserva</class>
    <class>com.reuniao.model.Participante</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/pooa_reuniao"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="!@#$1234"/>
    </properties>
  </persistence-unit>
</persistence>
